@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background: pink;
}

.hidden{
  display: none;
}

.makeTeam{
  margin-top: 2rem;
  color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 6rem;
  border: 2px 2px 2px black;
}

.makeTeam:hover{
  transform: scale(1.3);
}
