@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: url(./assets/images/pokeballBlurBG.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hidden{
  display: none;
}

.makeTeam{
  margin-top: 2rem;
  color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 6rem;
  border: 2px 2px 2px black;
}

.hoverBiggen:hover{
  transform: scale(1.3);
}